<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>FilingSaucer Web Client</title>
  <meta property="og:title" content="File shared via FilingSaucer">
  <meta property="og:site_name" content="FilingSaucer">
  <meta property="og:url" content="">
  <meta property="og:description" content="A file has been shared With you!">
  <meta property="og:type" content="article">
  <meta property="og:image" content="../icon.png">
</head>
<body>
  <div class="jumbotron">
    <p align="center"><a><img src="../icon.png" width="200" height="200" /></a></p>
    <h1 align="center">A File Has Been Shared With You!</h1>
<div align="center" class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
      <hr>
      <h2><%= file %></h2>
      <br>
      <h3>View File: </h3><a href="<%= viewLink %>" target="_blank"><h4><%= file %></h4></a>
      <h3>Download File: </h3><a href="<%= downloadLink %>" target="_blank"><h4><%= file %></h4></a>
</div>
  <div class="jumbotron">
  </div>
  <p class="text-center text-muted"><small>Uploaded files are occasionally purged and furthermore are subject to manual deletion. The host bears no liability for files uploaded and distributed through A-Share, an open source project.</small><br>
  <p class="text-center text-muted"><small>If you suspect this application is being abused, please contact the email associated with this site's administrator.</small>
    <br>
    <p align="right"><a><img src="../aeriallaptop.png" width="200" height="200" /></a></p>



</body>
</html>