<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <img src="/public/ICON.png" alt="">
      <div class="glass-pink" style="margin: 50;">
        <h1>a file has been shared with you...</h1>
        <h2><i><%- originalFileName %> uploaded by <%- userFirstName %></i></h2>
        <button class="button-blue" onclick="window.location.href='/share/<%- fileName %>/download'">Download</button></a>
        <% if(enablePreview){ %>
        <button class="button-clear" onclick="window.location.href='/share/<%- fileName %>/view'">Preview</button></a>
        <% } else { %>
            <br><i>this filetype can not be previewed</i><br>
        <% } %>
        <h3><i>the file will download as <%- fileName %>, the name used within filing saucer systems to reference it...</i></h3>
      </div>
    </div>
  </body>
</html>