<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <img src="/public/ICON.png" alt="" height="200px" width="200px">
      <div class="glass-pink" style="margin: 50;">
        <h1>upload history</h1>
        <h2><i>your previously uploaded files are listed below</i></h2>
        <button class="button-blue" onclick="window.location.href='/dash'">Home</button></a>
      </div>
      <div class="glass-blue">
        <h2>history.</h2><br>
        <%- info %>
        <% for (var bundle of bundles) { %> <div class="file">
        <div class="glass-clear" style="margin: 2%;">
            <h3><i><%= bundle[0] %><%= bundle[1] %><%= bundle[2] %> <%= bundle[3] %> <%= bundle[4] %> </i></h3>
            <h4>uploaded <%= bundle[2] %></h4>
            <% if (bundle[3]) { %>
            <a href="/update/file/<%= bundle[0] %>/private/false">
              <button class="button-pink">Make Public</button>
            </a>
            <a href="/share/download/<%= bundle[1] %>/<%= bundle[0] %>/" target="_blank">
              <button class="button-blue">Download</button>
            </a>
            <% } else { %>
            <a href="/share/<%= bundle[0] %>" target="_blank">
              <button class="button-pink">Open</button>
            </a>
            <a href="/update/file/<%= bundle[0] %>/private/true">
              <button class="button-blue">Make Private</button>
            </a>
            <% } %>
            <a href="/delete/<%= bundle[0] %>">
              <button class="button-blue">Delete</button>
            </a>
            <br>
          </div><% } %>
      </div>
    </div>
  </body>
</html>